/* You can add global styles to this file, and also import other style files */
$primary: #3498db;
$secondary: #e67e22;
$success: #2ecc71;
$danger: #e74c3c;
  
@import "bootstrap/scss/bootstrap.scss";
